body {
	margin: 0;
	font-family: calibri;
	background-color: #B3E5FC;
}

nav {
	box-sizing: border-box;
	width: 100%;
	height: 4em;
	background-color: #03A9F4; 
	text-align: center;
	padding: 1em;
}

nav a {
	padding: 0 1em;
	font-size: 2em;
	text-decoration: none;	
}

footer {
	height: 4em;
	background-color: #03A9F4;
	text-align: center;
	padding: 1em 0;
}

.actual_body {
	margin: 2% 10%;
}